---
import cmmImage from "../../public/assets/img/cmm.jpg";
---

<section class="pt-10 pb-5">
    <aside class="flex flex-row justify-center w-3/5 m-auto">
        <aside class="basis-1/6 flex justify-center grow">
            <img
                src={cmmImage.src}
                alt="cmm"
                width="250"
                class="rounded-full border-4 border-slate-600 "
            />
        </aside>
        <aside class=" basis-1/2 grid content-center justify-items-center grow">
            <p class="font-mono leading-loose font-extrabold text-7xl bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">Software Engineer</p>
        </aside>
    </aside>
</section>
