---
import NavButton from './NavLink.astro'
---
<section class="flex justify-center py-5">    
    <NavButton href='about' text='About'/>
    <NavButton href='technologies' text='Technologies'/>
    <NavButton href='projects' text='Projects'/>
</section>