---
import type { Technology } from "../interfaces/technology.interfaces";

import Layout from "../layout/Layout.astro";
import SkillsCard from "../components/Astro/SkillsCard.astro";

import vueLogo from "../public/assets/svg/vue.svg";
import angularLogo from "../public/assets/svg/angular.svg";
import netLogo from "../public/assets/svg/net.svg";
import sqlServerLogo from "../public/assets/svg/sql-server.svg";

const technologies: Technology[] = [
    {
        name: "Net",
        category: "backend",
        image: netLogo,
        description:
            "jdl単as jlkdfjsldfjaldjgprjonnvaoror jaioirnda fji isadfiortugiudsafn difas",
    },
    {
        name: "Vue",
        category: "frontend",
        image: vueLogo,
        description:
            "jdl単as jlkdfjsldfjaldjgprjonnvaoror jaioirnda fji isadfiortugiudsafn difas",
    },
    {
        name: "Angular",
        category: "frontend",
        image: angularLogo,
        description:
            "jdl単as jlkdfjsldfjaldjgprjonnvaoror jaioirnda fji isadfiortugiudsafn difas",
    },
    {
        name: "SQL Server",
        category: "databases",
        image: sqlServerLogo,
        description:
            "jdl単as jlkdfjsldfjaldjgprjonnvaoror jaioirnda fji isadfiortugiudsafn difas",
    },
];
---

<Layout>
    <section class="bg-slate-800 w-full py-8">
        <section class=" m-auto mt-8 ">
            <h1 class="w-1/2 m-auto font-mono text-5xl text-slate-200 font-bold">
                Technical skills
            </h1>

            <hr class="w-1/2 m-auto mb-10 border border-b-2 border-pink-500 my-4 shadow-lg" />

            <aside class="w-3/4 m-auto grid grid-cols-2 gap-x-6 gap-y-1">
                {
                    technologies.map((technology) => (
                        <SkillsCard technology={technology} />
                    ))
                }
            </aside>
        </section>
    </section>
</Layout>
